<html>
  <head>
    <title>A</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/components/pages/Display_grid/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <p>Logo</p>
      <nav>
        <ul class="menu">
          <li><a href="/components/pages/Display_grid2">Display_grid2</a></li>
          <li><a href="/components/pages/Display_grid3">Display_grid3</a></li>
          <li><a href="/components/pages/Display_flex">Display-flex</a></li>
        </ul>
      </nav>
    </header>

    <h1>Section Grid1</h1>

    <div class="grid1">
      <div>
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>conjunto de lobos</p>
      </div>
      <div>
        <img src="/assets/images/lobo2.jpeg" alt="" />
        <p>conjunto de lobos so q de longe</p>
      </div>
      <div>
        <img src="/assets/images/lobo3.jpeg" alt="" />
        <p>lobo beige</p>
      </div>
      <div>
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>lobo branco</p>
      </div>
      <div>
        <img src="/assets/images/lobo2.jpeg" alt="" />
        <p>lobo branco</p>
      </div>
      <div>
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>Anuncio</p>
      </div>
      <div>
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>lobo branco</p>
      </div>
      <div>
        <img src="/assets/images/lobo2.jpeg" alt="" />
        <p>Legenda</p>
      </div>
      <div>
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>Legenda</p>
      </div>
      <div class="anuncio">
        <img src="/assets/images/lobo1.jpeg" alt="" />
        <p>Anuncio</p>
      </div>
    </div>
  </body>
</html>
