<html>
  <head>
    <title>A</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/components/pages/Display_grid2/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <p href="/">Logo</p>
      <nav>
        <ul class="menu">
          <li><a href="/components/pages/Display_grid3">Display_grid3</a></li>
          <li>
            <a href="/components/pages/Display_grid">Display_grid</a>
          </li>
          <li><a href="/components/pages/Display_flex">Display-flex</a></li>
        </ul>
      </nav>
    </header>

    <h1>Section Grid2</h1>
    <div class="grid2">
      <div class="video">
        <img src="/assets/images/lobo2.jpeg" alt="" />
        <h2>Lobinhu</h2>
      </div>
      <div class="sidebar">
        <div>
          <img src="/assets/images/lobo3.jpeg" alt="" />
          <p>Legenda</p>
        </div>
        <div>
          <img src="/assets/images/lobo1.jpeg" alt="" />
          <p>Legenda</p>
        </div>
        <div>
          <img src="/assets/images/lobo3.jpeg" alt="" />
          <p>Legenda</p>
        </div>
        <div>
          <img src="/assets/images/lobo3.jpeg" alt="" />
          <p>Legenda</p>
        </div>
      </div>
    </div>
  </body>
</html>
